.wishlist {
  width: 50%;
  margin: 0 auto;
}

.wishlist h2 {
  text-align: center;
}

.wishlist ul {
  list-style: none;
  padding: 0;
}

.wishlist li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
}
